<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.neu.zady.mapper.BornoutMapper">
    <select id="selectBySprintAndDate" resultType="Bornout">
        SELECT *
        FROM bornout
        <where>
            <if test="sprintId != null">
                AND sprint_id = #{sprintId}
            </if>
            <if test="createDateStr != null">
                AND DATE_FORMAT(create_date, '%Y-%m-%d') = #{createDateStr}
            </if>
        </where>
    </select>
</mapper>