<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.neu.zady.mapper.ProjectMapper">

    <select id="selectById" resultType="Project">
        SELECT id, `name`, note, `github_url`, `owner_id`, `master_id`, `sprint_num`, `current_sprint_id`
        FROM project
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO project(`name`, note, `github_url`, `owner_id`, `master_id`)
        VALUES (#{name}, #{note}, #{githubUrl}, #{ownerId}, #{masterId})
    </insert>

    <update id="update">
        UPDATE project
        <set>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="note != null and note != ''">
                note = #{note}
            </if>
            <if test="githubUrl != null and githubUrl != ''">
                github_url = #{githubUrl}
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId}
            </if>
            <if test="sprintNum != null">
                sprint_num = #{sprintNum}
            </if>
            <if test="currentSprintId != null">
                current_sprint_id = #{currentSprintId}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>